* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 450px;
    /* background-color: green; */
    margin: 150px 150px;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
/* posiziono le frecce ai lati del pic pics_container */

.left_arrow, .right_arrow {
    float: left;
    display: flex;
    width: 35px;
    height: 100%;
}

.left_arrow i, .right_arrow i {
    margin: auto;
}

.pics_container {
    float: left;
    height: 100%;
    width: calc(100% - 70px);
    /* background-color: red; */
}

/*------------------------------------------------*/

.pics_container img {
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pics_container img.active {
    display: block;
}

/******************** pallini **************/

.dots {
    position: absolute;
    left: 50%;
    bottom: 5px;
}
